<?xml version='1.0' encoding='utf-8'?>
<widget id="com.joshpaulchan.socket" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Socket</name>
    <description>
        A simple way to light up your life.
    </description>
    <author email="joshpaulchan@gmail.com" href="http://getsocket.co">
        Castle Co. Team
    </author>
    <content src="index.html" />
    <icon src="src/assets/img/socket.png" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreen" value="splash" />
    <preference name="AutoHideSplashScreen" value="false" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashScreenDelay" value="10000" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <preference name="FadeSplashScreen" value="false"/>
    </platform>
</widget>
