#app-container {
	height: 100vh;
}

li.item-clickable {
	transition: background-color 0.2s;
}

li.item-clickable:active {
	background-color: #eee;
}

.icon-active {
	color: #555;
}

.icon-inactive {
	color: #bbb;
}

.state {
	margin-right: 6px;
	font-size: 24px;
}

.state-indicator {
	width: 32px;
	height: 32px;
	background: #bbb;
}

.state-icons {
	float: right;
	color: #bbb;
	font-size: 20px;
}

.state-icons .icon {
	margin-left: 4px;
}

.state-on {
	color: #ffc900;
}

.state-off {
	color: #555;
}
