#app-container {
	height: 100vh;
}

li.item-clickable {
	transition: background-color 0.2s;
}

li.item-clickable:active {
	background-color: #eee;
}

.icon-active {
	color: #555;
}

.icon-inactive {
	color: #bbb;
}

.state-indicator {
	width: 32px;
	height: 32px;
	background: #bbb;
}

.state-on {
	color: #ffc900;
}

.state-off {
	color: #555;
}
